.board {
  position: relative;
  background-color: white;
  width: 100%;
  height: auto;
  padding: 3rem;
  margin: 1.5rem auto;
  border: 0.625rem solid #df5b2c;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.image {
  width: 70%;
  height: auto;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}

.ex,
.question {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  padding: 0.3rem 1rem;
  color: white;
  background-color: #aa1b22;
}

p {
  font-size: 2rem;
  margin-left: 1rem;
}

span {
  color: #df5b2c;
}

.input {
  height: 3rem;
  width: 6rem;
  border: 3px solid #00aced;
  text-align: center;
  font-size: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.correct {
  color: green;
}

/* Shake animation */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.shake {
  animation: shake 1s;
  -webkit-animation: shake 1s;
}

@media (max-width: 990px) {
  .board {
    width: 95%;
    padding: 2rem;
    border-width: 3px;
  }

  .image {
    width: 45%;
    height: auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  .image,
  .ex,
  .question {
    width: 100%;
    box-shadow: none;

    .title,
    p {
      font-size: 1rem;
    }
  }
  .input {
    height: 2rem;
  }
}
