.board {
  position: relative;
  background-color: white;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 1.5rem auto;
  border: 0.625rem solid #df5b2c;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & #title {
    position: absolute;
    width: 100%;
    color: #d2232a;
    font-size: 2rem;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  & .text-box {
    position: absolute;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}

#box-1 {
  width: 15rem;
  height: auto;
  top: 29%;
  right: 8%;
}
#box-2 {
  width: 13rem;
  height: auto;
  top: 36%;
  left: 27%;
}
#box-3 {
  width: 12rem;
  height: auto;
  top: 29%;
  left: 11%;
}
#box-4 {
  width: 17rem;
  height: auto;
  bottom: 21%;
  right: 14%;
}
#box-5 {
  width: 14rem;
  height: auto;
  bottom: 47%;
  right: 31%;
}

#main-image {
  width: 100%;
}

@media (max-width: 990px) {
  .board {
    padding: 2rem 0.5rem;
  }
  .container #title {
    font-size: 1.3rem;
  }
  #box-1 {
    width: 6rem;
  }
  #box-2 {
    width: 5.5rem;
  }
  #box-3 {
    width: 4.5rem;
  }
  #box-4 {
    width: 7rem;
  }
  #box-5 {
    width: 5rem;
  }
}
